#qa {
    padding-top: 166px;
    position: relative;
    padding-bottom: 120px;
    &::before {
        content: "";
        width: 100%;
        height: calc(166px + 17.7rem);
        background-color: #fff;
        position: absolute;
        top: 0;
        left: 0;
    }
    .all {
        display: none;
    }
}